extends layout

block content
  h1= title

  if author_list.length
    ul
      each author in author_list
        li
          a(href=author.url) #{author.name}
          if author.date_of_birth
            span.text-success  #{author.date_of_birth_formatted}
          if author.date_of_death
            span  - #{author.date_of_death_formatted}


  else
    p There are no authors.
